<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>ProximaNova-Medium.otf</string>
		<string>ProximaNova-Bold.otf</string>
		<string>ProximaNova-Light.otf</string>
		<string>ProximaNova-Black.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>base_url</key>
	<string>http://64.225.16.75:8083/app-backend</string>
</dict>
</plist>
